@import url(./vars.css);
@import url(./onboard.css);
@import url(../../node_modules/@safe-global/safe-react-components/dist/fonts.css);

html,
body {
  padding: 0;
  margin: 0;
  font-family: DM Sans, sans-serif;
  background-color: var(--color-background-paper);
}

main {
  width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  font: inherit;
}

:focus-visible {
  outline: 5px auto Highlight;
  outline: 5px auto -webkit-focus-ring-color;
}

* {
  box-sizing: border-box;
}

:root {
  --header-height: 52px;
  --footer-height: 67px;
  --import-export-widget-height: 166px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

.illustration-main-fill {
  fill: var(--color-primary-main);
}

.illustration-light-fill {
  fill: var(--color-border-main);
}

.illustration-background-fill {
  fill: var(--color-logo-background);
}

/* Note: a fallback `stroke` property must be on the svg to work */
.illustration-main-stroke {
  stroke: var(--color-primary-main);
}

.illustration-light-stroke {
  stroke: var(--color-border-main);
}

.illustration-background-stroke {
  stroke: var(--color-logo-background);
}

@media (max-width: 600px) {
  .sticky {
    position: sticky;
    right: 0;
    background: var(--color-background-paper);
  }
}

body.beamerAnnouncementBarTopActive {
  padding-top: 0 !important;
}

#beamerLastPostTitle {
  left: 120px !important;
}


.mui-style-1tq00un-MuiButtonBase-root-MuiButton-root {
  background-color: #cb5424 !important;
}
.mui-style-1tq00un-MuiButtonBase-root-MuiButton-root:hover {
  background-color: #b52520 !important;
}
.mui-style-10j82ue {
  background-color: #cb5424 !important;
}
.mui-style-10j82ue:hover {
  background-color: #b52520 !important;
}
.mui-style-kpenl3-MuiButtonBase-root-MuiButton-root {
  color: #cb5424 !important;
  border-color: #cb5424 !important;
}
.mui-style-kpenl3-MuiButtonBase-root-MuiButton-root:hover {
  background-color: rgba(203, 84, 36, 0.1) !important;
}
.mui-style-17v9hgl-MuiButtonBase-root-MuiButton-root {
  background-color: #cb5424 !important;
  border-color: #cb5424 !important;
}
.mui-style-17v9hgl-MuiButtonBase-root-MuiButton-root:hover {
  background-color: #b52520 !important;
  border-color: #b52520 !important;
}
.mui-style-3i7vkj-MuiSvgIcon-root {
  color: #cb5424 !important;
}
.mui-style-1hw9s1s-MuiTypography-root-MuiLink-root {
  color: #cb5424 !important;
  text-decoration-color: rgba(203, 84, 36, 0.4);
}
.mui-style-12jwzj9-MuiButtonBase-root-MuiSwitch-switchBase.Mui-checked {
  color: #cb5424 !important;
}
.mui-style-12jwzj9-MuiButtonBase-root-MuiSwitch-switchBase.Mui-checked+.MuiSwitch-track {
  background-color: #cb5424 !important;
}
.mui-style-1q47adg-MuiButtonBase-root-MuiButton-root {
  background-color: #cb5424 !important;
  border-color: #cb5424 !important;
}
.mui-style-1q47adg-MuiButtonBase-root-MuiButton-root:hover {
  background-color: #b52520 !important;
}
.mui-style-1ka6m79-MuiPaper-root-MuiCard-root:hover {
  background-color: rgba(203, 84, 36, 0.1) !important;
}
.mui-style-d9xw9e-MuiButtonBase-root-MuiButton-root {
  background-color: #cb5424 !important;
}
.mui-style-d9xw9e-MuiButtonBase-root-MuiButton-root:hover {
  background-color: #b52520 !important;
}
.mui-style-96ocqv-MuiButtonBase-root-MuiMenuItem-root.Mui-selected {
  background-color: rgba(203, 84, 36, 0.1) !important;
}
.styles_container__OKYCJ:hover {
  background-color: rgba(203, 84, 36, 0.1) !important;
}
.styles_list__tj2RO .MuiListItemButton-root:hover {
  background-color: rgba(203, 84, 36, 0.1) !important;
}
.mui-style-1wf2utl-MuiButtonBase-root-MuiButton-root {
  color: #cb5424 !important;
  border-color: #cb5424 !important;
}
.mui-style-1wf2utl-MuiButtonBase-root-MuiButton-root:hover {
  background-color: rgba(203, 84, 36, 0.1) !important;
}
.mui-style-ews7yt-MuiButtonBase-root-MuiButton-root {
  color: #cb5424 !important;
  border-color: #cb5424 !important;
}
.mui-style-1c8rwtd-MuiTypography-root {
  color: #cb5424 !important;
}
.styles_content__Vufwi {
  background-size: 200% 200% !important;
  background-image: linear-gradient(45deg, #cb5424, #f9b32c) !important;
  animation: styles_gradient__ckMCc 10s ease infinite !important;
}
.mui-style-pe69qm-MuiButtonBase-root-MuiButton-root {
  color: #cb5424 !important;
  border-color: #cb5424 !important;
}
.mui-style-pe69qm-MuiButtonBase-root-MuiButton-root:hover {
  background-color: rgba(203, 84, 36, 0.1) !important;
}
.mui-style-147h8my-MuiButtonBase-root-MuiButton-root {
  color: #cb5424 !important;
  border-color: #cb5424 !important;
}
.mui-style-147h8my-MuiButtonBase-root-MuiButton-root:hover {
  background-color: rgba(203, 84, 36, 0.1) !important;
}
.mui-style-1om5duk-MuiTypography-root-MuiLink-root {
  color: #cb5424 !important;
  text-decoration-color: rgba(203, 84, 36, 0.4);
}
.mui-style-erkgxe {
  background-color: #cb5424 !important;
}
.mui-style-erkgxe:hover {
  background-color: #b52520 !important;
}
.mui-style-185h6a7 {
  color: #cb5424 !important;
}
.mui-style-15xaao9 {
  color: #cb5424 !important;
  text-decoration-color: rgba(203, 84, 36, 0.4) !important;
}
.mui-style-15xaao9:hover {
  text-decoration-color: rgba(203, 84, 36, 1) !important;
}
.mui-style-1fa5bp1 {
  border-color: #cb5424 !important;
  background-color: #cb5424 !important;
}
.mui-style-1fa5bp1:hover {
  background-color: #b52520 !important;
  border-color: #b52520 !important;
}
.mui-style-dei772:hover {
  background-color: rgba(203, 84, 36, 0.1) !important;
}
.mui-style-18c0sk7.Mui-checked {
  color: #cb5424 !important;
}
.mui-style-18c0sk7.Mui-checked:hover {
  background-color: rgba(203, 84, 36, 0.1) !important;
}
.mui-style-18c0sk7.Mui-checked + .MuiSwitch-track {
  background-color: #cb5424 !important;
}
.mui-style-v162oi {
  color: #cb5424 !important;
  border-color: #cb5424 !important;
}
.mui-style-v162oi:hover {
  background-color: rgba(203, 84, 36, 0.1) !important;
}
.mui-style-9q8gl3 {
  color: #cb5424 !important;
  border-color: #cb5424 !important;
}
.mui-style-1n0sbcf {
  color: #cb5424 !important;
}
.mui-style-toa2pf.Mui-selected {
  background-color: rgba(203, 84, 36, 0.1) !important;
}
.mui-style-yo4egs {
  background-color: #cb5424 !important;
  border-color: #cb5424 !important;
}
.mui-style-yo4egs:hover {
  background-color: #b52520 !important;
  border-color: #b52520 !important;
}
.mui-style-1dw6z1y {
  color: #cb5424 !important;
  text-decoration-color: rgba(203, 84, 36, 0.4) !important;
}
.mui-style-1dw6z1y:hover {
  text-decoration-color: rgba(203, 84, 36, 1) !important;
}
.mui-style-97x10u {
  background-color: #cb5424 !important;
}
.mui-style-yzdcm8 {
  color: #cb5424 !important;
  border-color: #cb5424 !important;
}
.mui-style-yzdcm8:hover {
  background-color: rgba(203, 84, 36, 0.1) !important;
}
.mui-style-10evnm6 {
  background-color: #cb5424 !important;
}
.mui-style-1gjfwxp.Mui-selected {
  color: #cb5424 !important;
}
.styles_hideTokensHeader__YCMjB {
  background-color: rgba(203, 84, 36, 0.1) !important;
}
.mui-style-b1hv6m {
  color: #cb5424 !important;
  border-color: #cb5424 !important;
}
.mui-style-b1hv6m:hover {
  background-color: rgba(203, 84, 36, 0.1) !important;
}
.mui-style-9j8yrv.Mui-selected {
  background-color: rgba(203, 84, 36, 0.1) !important;
}
.mui-style-1pbpnb9.Mui-focused {
  color: #cb5424 !important;
}
.mui-style-1pbpnb9.Mui-focused .MuiOutlinedInput-notchedOutline {
  border-color: #cb5424 !important;
}
.mui-style-1pbpnb9.Mui-error {
  color: rgb(255, 95, 114) !important;
}
.mui-style-2qjgq2.Mui-focused .MuiOutlinedInput-notchedOutline {
  border-color: #cb5424 !important;
}
.mui-style-186ews8.Mui-focused .MuiOutlinedInput-notchedOutline {
  border-color: #cb5424 !important;
}
.mui-style-1jzhwh4.Mui-checked, .mui-style-1jzhwh4.MuiCheckbox-indeterminate {
  color: #cb5424 !important;
}
.mui-style-1jzhwh4:hover {
  background-color: rgba(203, 84, 36, 0.1) !important;
}
.mui-style-1jzhwh4 {
  color: #cb5424 !important;
}
.mui-style-1gsqary {
  color: #cb5424 !important;
}
.mui-style-tzasjj {
  background-color: #cb5424 !important;
}
.mui-style-st8tnp {
  color: #cb5424 !important;
}
.mui-style-st8tnp:hover {
  background-color: rgba(203, 84, 36, 0.1) !important;
}
.mui-style-8tazii {
  fill: #cb5424 !important;
}
.mui-style-nbmfqt .MuiTableRow-root.Mui-selected {
  background-color: rgba(203, 84, 36, 0.1) !important;
}
.mui-style-elbio8.Mui-focused {
  color: #cb5424 !important;
}
.mui-style-z8mxb3.Mui-focused .MuiOutlinedInput-notchedOutline {
  border-color: #cb5424 !important;
}
.mui-style-4pd5xw {
  color: #cb5424 !important;
  border-color: #cb5424 !important;
}
.mui-style-4pd5xw:hover {
  background-color: rgba(203, 84, 36, 0.1) !important;
}
.mui-style-1fglyfn.Mui-focused .MuiOutlinedInput-notchedOutline {
  border-color: #cb5424 !important;
}
.mui-style-rer4zx {
  color: #cb5424 !important;
  border-color: #cb5424 !important;
}
.mui-style-rer4zx:hover {
  background-color: rgba(203, 84, 36, 0.1) !important;
}
.mui-style-mp19i6 {
  color: #cb5424 !important;
  border-color: #cb5424 !important;
}
.mui-style-mp19i6:hover {
  background-color: rgba(203, 84, 36, 0.1) !important;
}
.mui-style-kx1wq6 {
  color: #cb5424 !important;
}
.mui-style-1ndi2hz.Mui-focused .MuiOutlinedInput-notchedOutline {
  border-color: #cb5424 !important;
}
.mui-style-1ljjage {
  background-color: #cb5424 !important;
}
.mui-style-1ljjage:hover {
  background-color: #b52520 !important;
}
button.wallet-button-styling.svelte-paavcp:hover {
  background-color:  rgba(203, 84, 36, 0.1) !important;
  border-color:  #cb5424 !important;
}
button.connected.svelte-paavcp {
  border-color: #cb5424 !important;
}
.mui-style-1iilbmq {
  color: #cb5424 !important;
}
.mui-style-fypsn2 {
  background-color: #cb5424 !important;
  border-color: #cb5424 !important;
}
.mui-style-fypsn2:hover {
  background-color: #b52520 !important;
}
.mui-style-a53p8x.Mui-focused .MuiOutlinedInput-notchedOutline {
  border-color: #cb5424 !important;
}
.mui-style-nhsoon {
  color: #cb5424 !important;
  border-color: #cb5424 !important;
}
.styles_rect__HlXic {
  background-color: #cb5424 !important;
}
.mui-style-18sohdt {
  color: #cb5424 !important;
}
.mui-style-1gy4pky {
  border-color: #cb5424 !important;
  background-color: rgba(203, 84, 36, 0.1) !important;
}
.mui-style-1cvzxrr {
  background-color: #cb5424 !important;
}
.mui-style-dy8pxw {
  color: #cb5424 !important;
}
.mui-style-dy8pxw:hover {
  background-color: rgba(203, 84, 36, 0.1) !important;
}
.mui-style-1k7auds {
  background-color: #cb5424 !important;
  border-color: #cb5424 !important;
}
.mui-style-1k7auds:hover {
  background-color: #b52520 !important;
}
.mui-style-f1moef {
  background-color: #cb5424 !important;
}
.mui-style-1mchb5k {
  color: #cb5424 !important;
  text-decoration-color: #cb5424 !important;
}
.mui-style-1mchb5k:hover {
  text-decoration-color: rgba(203, 84, 36, 0.1) !important;
}
.mui-style-jmgtxu {
  background-color: #cb5424 !important;
}
.mui-style-15oxta6 {
  border-color: #cb5424 !important;
  background-color: rgba(203, 84, 36, 0.1) !important;
}
.mui-style-1vdc53k {
  background-color: #cb5424 !important;
  border-color: #cb5424 !important;
}
.mui-style-1vdc53k:hover {
  background-color: #b52520 !important;
}
.mui-style-w14qcb {
  color: #cb5424 !important;
  border-color: #cb5424 !important;
}
.mui-style-w14qcb:hover {
  background-color: rgba(203, 84, 36, 0.1) !important;
}
.mui-style-1uvaq4a {
  color: #cb5424 !important;
  text-decoration-color: #cb5424 !important;
}
.mui-style-1uvaq4a:hover {
  text-decoration-color: rgba(203, 84, 36, 0.1) !important;
}
.mui-style-2sy0u:hover {
  border-color: #cb5424 !important;
}
.mui-style-2sy0u:hover > .MuiAccordionSummary-root {
  background-color: rgba(203, 84, 36, 0.1) !important;
}
.mui-style-2sy0u.Mui-expanded > .MuiAccordionSummary-root {
  background-color: rgba(203, 84, 36, 0.1) !important;
}
.mui-style-2sy0u.Mui-expanded {
  border-color: #cb5424 !important;
}
.mui-style-13hfka {
  color: #cb5424 !important;
}
.mui-style-1ai7f0j:hover, .mui-style-1ai7f0j:focus, .mui-style-1ai7f0j.Mui-focused {
  border-color: #cb5424 !important;
}
.mui-style-nbmfqt .MuiTableRow-root:hover {
  background-color: rgba(203, 84, 36, 0.1) !important;
}
.mui-style-1uf2t2 {
  background-color: #cb5424 !important;
  border-color: #cb5424 !important;
}
.mui-style-1uf2t2:hover {
  background-color: #b52520 !important;
}
.mui-style-1qojcxd {
  color: #cb5424 !important;
  text-decoration-color: #cb5424 !important;
}
.mui-style-1qojcxd:hover {
  text-decoration-color: rgba(203, 84, 36, 0.1) !important;
}
.mui-style-5tzvaj.Mui-focused {
  color: #cb5424 !important;
}
.mui-style-1h1fuc9.Mui-focused .MuiOutlinedInput-notchedOutline {
  border-color: #cb5424 !important;
}
.mui-style-1lcepaa .MuiSvgIcon-root {
  fill: #cb5424 !important;
}
.mui-style-1jtcxoj:hover {
  background-color: rgba(203, 84, 36, 0.1) !important;
}
.mui-style-mv5nxv {
  color: #cb5424 !important;
  fill: #cb5424 !important;
}
.mui-style-x2qwkh {
  background-color: #cb5424 !important;
  border-color: #cb5424 !important;
}
.mui-style-x2qwkh:hover {
  background-color: #b52520 !important;
}
.mui-style-x2qwkh {
  background-color: #cb5424 !important;
  border-color: #cb5424 !important;
}
.mui-style-x2qwkh:hover {
  background-color: #b52520 !important;
}
.styles_logo__Oax41 svg {
  height: 40px !important;
}
